<ion-header>
  <ion-toolbar>
    <ion-title>wall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='primary'>
  <app-wall-item *ngFor="let item of publications; let i = index;" [title]=item.titulo [descripcion]=item.descripcion [usuario]=item.usuario (click)="goToPubli(i)"></app-wall-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="irCrear()">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
      <ion-label>Publicación</ion-label>

      <ion-fab-button color="secondary">
        <ion-icon name="clipboard"></ion-icon>
      </ion-fab-button>
      <ion-label>Ruta</ion-label>

      <ion-fab-button color="secondary">
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
      <ion-label>Evento</ion-label>

    </ion-fab-list>
  </ion-fab>
</ion-content>
