<ion-header>
    <div class="fondo">
    <ion-card-title color="white">Contactos</ion-card-title>
    <ion-searchbar class="inputUser" (keyup.enter)="buscar(username)" [(ngModel)]="username"
      placeholder="Nombre de usuario" id="userReq">
    </ion-searchbar>
    <div style="position: absolute;right: 4.5vw;top: 9.9vh;">
      <ion-button size="small" shape="round" color="light" fill="solid" (click)="notifications()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </div>
    <div class="divAV">
        <app-optbusqueda (loquesea)="busquedaAve($event)" *ngIf="mostrarBA"></app-optbusqueda>
      </div>
    </div>
</ion-header>

<ion-content>
    <div class="divlista">
      <ion-label *ngIf="buscado==false" class="centrado">Listo para buscar usuarios.</ion-label>
      <ion-label *ngIf="buscado==true && encontrado==false" class="centrado">No se han encontrado usuarios.</ion-label>
      <ion-grid *ngIf="buscado==true && encontrado==true" class="centrado" (loquesea)="busquedaAve($event)">
        <ion-row>
          <ion-col size=4 col-6 col-md-4 col-xl-3 *ngFor="let image of coincidentes">
            <div (click)="goToProfile(image.username)" class="sombras">
              <img src="{{image.foto}}" class="fotoRedonda" />
              <p>{{ image.username }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  <!-- </div> -->
</ion-content>