<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="center-content">
  <h1>Eventos</h1>
  <ion-list *ngIf="showFilter" class="topMargin" >
    <ion-item>
      <ion-label>Deporte</ion-label>
      <ion-select placeholder="Elige uno" [(ngModel)]="selectedSport">
        <ion-select-option value="Running">Running</ion-select-option>
        <ion-select-option value="Fútbol">Fútbol</ion-select-option>
        <ion-select-option value="Baloncesto">Baloncesto</ion-select-option>
        <ion-select-option value="Tenis">Tenis</ion-select-option>
        <ion-select-option value="Pádel">Pádel</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY" placeholder="Elige fecha" max="2021"
        [(ngModel)]="selectedDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Usuario" [(ngModel)]="selectedUser"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Localidad" [(ngModel)]="selectedLocation"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="1" offset="9">
        <ion-button *ngIf="showFilter" tappable
          (click)="filtrar(selectedSport, selectedDate, selectedUser, selectedLocation)">
          <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!showFilter" tappable
          (click)="filtrar(selectedSport, selectedDate, selectedUser, selectedLocation)">
          <ion-icon name="list"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let item of searchedEventos" (click)="irA(item)">
    <ion-card-header>
      <ion-card-subtitle>{{item.deporte}}</ion-card-subtitle>
      <ion-card-title>{{item.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{item.fecha}}</ion-card-content>
  </ion-card>

</ion-content>