<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="showFilter">
    <ion-item>
      <ion-label>Deporte</ion-label>
      <ion-select placeholder="Elige uno" [(ngModel)]="selectedSport">
        <ion-select-option value="Running">Running</ion-select-option>
        <ion-select-option value="Fútbol">Fútbol</ion-select-option>
        <ion-select-option value="Baloncesto">Baloncesto</ion-select-option>
        <ion-select-option value="Tenis">Tenis</ion-select-option>
        <ion-select-option value="Pádel">Pádel</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY" placeholder="Elige fecha" max="2021" [(ngModel)]="selectedDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Localidad"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="1" offset="9">
          <ion-button *ngIf="showFilter" tappable (click)="filtrar(selectedSport, selectedDate)">
            <ion-icon name="search" ></ion-icon>
          </ion-button>
          <ion-button *ngIf="!showFilter" tappable (click)="filtrar(selectedSport, selectedDate)">
            <ion-icon name="list" ></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card *ngFor="let item of searchedEventos">
    <ion-card-header>
      <ion-card-subtitle>{{item.Deporte}}</ion-card-subtitle>
      <ion-card-title>{{item.Titulo}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>{{item.Fecha}}</ion-card-content>
  </ion-card>
  
</ion-content>
