img {
  height: 20vh;
  width: auto;
}

ion-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  border-radius: 15px;
  width: 90vw;
  margin-left:5vw;
}
