.imagenProfile{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border-color: rgb(77, 77, 77);
    border-style: solid;
    border-width: 2px;
  }

.centered-text{
  justify-content: center;
}

.textoUsuario{
  font-family: roboto;
  font-size: small;
}