<ion-content padding scroll-y=false>
  <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="navigateBack()">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container">
    <h1>Registro</h1>
    <form (ngSubmit)="register()" [formGroup]="registerForm" class="center-content">
      <ion-item color="item">
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Correo Electrónico" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid">
        <ion-text color="danger">
          Email incorrecto
        </ion-text>
      </p>

      <ion-item color="item">
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Usuario" formControlName="user"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="registerForm.get('user').touched && registerForm.get('user').hasError('required')">
        <ion-text color="danger">
          campo requerido
        </ion-text>
      </p>

      <ion-item color="item">
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Contraseña" formControlName="pass"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="registerForm.get('pass').touched && registerForm.get('pass').hasError('required')">
        <ion-text color="danger">
          campo requerido
        </ion-text>
      </p>

      <ion-item color="item">
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Repetir contraseña" formControlName="pass_conf"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="registerForm.get('pass_conf').touched && registerForm.get('pass_conf').hasError('required')">
        <ion-text color="danger">
          campo requerido
        </ion-text>
      </p>
      <ion-item color="item">
          <ion-label>Deportista de nivel</ion-label>
          <ion-select value="novato" okText="Okay" cancelText="Dismiss" formControlName="level">
            <ion-select-option value="novato">Novato</ion-select-option>
            <ion-select-option value="amateur">amateur</ion-select-option>
            <ion-select-option value="profesional">Profesional</ion-select-option>
          </ion-select>
        </ion-item>
      <p ion-text class="text08" *ngIf="registerForm.hasError('notSame')">
        <ion-text color="danger">
          Las contraseñas no coinciden
        </ion-text>
      </p>

      <div>
        <ion-button class="register-btn" color="registerbtn" tappable (click)="register()"
          [disabled]="!registerForm.valid">Register</ion-button>
      </div>

    </form>
  </div>
</ion-content>