<ion-content padding scroll-y=false color="dark">
  <ion-toolbar>
    <ion-title color="light">Registro</ion-title>
  </ion-toolbar>
  <form (ngSubmit)="register()" #registerForm="ngForm" class="center-content">
    <!-- <ion-row>
        <ion-col> -->
    <!-- <ion-list inset> -->
    <ion-item color="item">
      <ion-label floating>
        <ion-icon name="mail" item-start class="text-primary"></ion-icon>
      </ion-label>
      <ion-input type="email" placeholder="Correo Electrónico" ></ion-input>
    </ion-item>
    <!-- <p ion-text class="text08"
      *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
      <ion-text color="danger">
        Email incorrecto
      </ion-text>
    </p> -->

    <ion-item>
      <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="registerCredentials.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Confirm Password" name="confirmation_password"
        [(ngModel)]="registerCredentials.confirmation_password" required></ion-input>
    </ion-item>

    <!-- </ion-list> -->
    <!-- </ion-col>
      </ion-row> -->

    <!-- <ion-row>
        <ion-col class="signup-col"> -->
    <div>
      <ion-button class="submit-btn" block type="submit" [disabled]="!registerForm.form.valid">Register</ion-button>
    </div>
    <!-- </ion-col>
      </ion-row> -->

  </form>
</ion-content>